* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*General*/

/*nav nav at the top of the admin page*/
.general-nav {
    margin-top: 50px;
}
.general-main {
    margin-top: 25px !important;
    margin: 0px auto 350px auto;
}

/*Style of the overlay box*/
.overlay-wrapper {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
}
.overlay-box {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    transition: margin-top 500ms;
}
.overlay-title {
    font-size: 20px;
    line-height: 45px;
    padding: 0px 15px;
    font-weight: normal;
    display: block;
    border-bottom: 1px solid lightgrey;
}
.close-overlay {
    position: absolute;
    font-size: 12px;
    top: 20px;
    right: 20px;
    color: lightgrey;
    cursor: pointer;
}
label {
    font-weight: bold;
}
.overlay-text {
    margin-bottom: 0rem;
}
.button-container {
    margin-top: 25px;
}
.overlay-small {
    color: grey;
}

/*Breadcrumbs above the explorer window, at write and files.php*/
.bread-crumb-links {
    cursor: pointer;
}
.bread-crumb-links:hover {
    color: #007bff !important;
}
.bread-crumb-item:first-child a {
    color: #007bff;
}






/*Write page*/

/*Textarea van abstract*/
.form-control {
    resize: none;
}
/*Container van ckeditor*/
.write-ckeditor-container {
    margin-top: 25px;
}
/*Nav tabs van write page*/
.write-nav-tabs {
    margin-top: 25px;
}
/*Container of the different tabs*/
.write-tabpane-container {
    margin-top: 25px;
    margin-bottom: 100px;
}
/*Div in the publish section under the radiobuttons*/
.write-publish-extra {
    padding-left: 20px;
    margin-top: 25px;
}
.write-publish-extra:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}
.write-publish-extra button {
    margin-top: 25px;
}

/*category section on write page*/
/*the category button selectors*/
.category-dropwdown-selectors {
    border: 1px solid black;
    width: 100%;
    text-align: left !important;
}
.custom-select {
    padding: 0px;
    margin: 0px 0px 25px 0px;
}
.write-category-title {
    font-size: 25px;
}


/*Files on write page*/
#overlay-quick {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    padding: 25px;
    display: none;
}
#overlay-quick p {
    margin-top: 15px;
}



/*Files Page*/
/*The container of the operations on the dir body*/
.files-admin-div {
    display: block !important;
    margin: 25px 0px;
}
/*Container of the alert messages*/
.alert-messages {
    width: 70%;
    margin: 0 auto;
    padding: 15px 0px;
}
/*container of dir body + breadcrumbs*/
.files-file-directory-container {
    margin-top: 25px;
}
/*Breadcrumbs showing the path*/
.files-breadcrumbs-directory-path {
    grid-column: 1/2;
}
.files-breadcrumbs-directory-path ol {
    background-color: rgba(0,0,0,0);
    margin: 0px;
    padding: 0px;
}
/*The body that shows all the files*/
.files-directory-body {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 550px;
    overflow-y: scroll;
}
/*The container containing each individual file/folder in dir body*/
.files-file-container {
    padding: 0px 5px 5px 5px;
    margin: 5px;
    position: relative;
    /*border: 1px solid black;*/
}
.files-file-container:hover .files-hover-icons {
    opacity: 1;
    cursor: pointer;
    text-shadow: 4px 0px 4px rgba(150, 150, 150, 1); /*Makes the icon clearly visible on all surfaces*/
}
.files-hover-icons {
    position: absolute;
    font-size: 25px;
    left: 0%;
    opacity: 0;
    transition: opacity 300ms ease;
}
/*Icons and text of the file/folder in dir body*/
.files-icon{
    font-size: 100px;
}
.files-folder-file-name {
    text-align: center;
}
/*Style of the inputs.buttons*/
.form-group {
    padding: 0px 25px 15px 25px;
}
.button-container {
    padding: 0px 25px 15px 25px;
    text-align: right;
}












/*Category page*/

/*Div with the "add category" button*/
.categories-admin-div {
    padding: 0px 0px 25px 0px;
}
/*Card container of the category cards*/
.categories-category-container {
    align-items: flex-start;
}
/*Category card div*/
.categories-category-card {
    margin: 15px;
    text-align: center;
    min-width: 200px !important;
    position: relative;
}
.categories-category-card:hover .delete-categories-icon {
    opacity: 1;
}
/*Edit icon on cat/subcat hover*/
.delete-categories-icon {
    opacity: 0;
    transition: opacity 300ms ease;
    position: absolute;
    right: 10px;
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
}
.add-subcategory {
    width: 100px !important;
    font-size: 13px !important;
    display: inline-block !important;
    padding: 0px 4px !important;
    line-height: 1 !important;
    margin: 4px 0px 0px 0px !important;
}
.fa-check {
    cursor: pointer;
}








/*Media queries*/
@media (min-width: 768px) {
    /*width for main*/
    main, .general-nav {
        width: 750px;
    }
    /*Fontsize for pdf icon*/
    .pdf-icon {
        font-size: 85px;
    }
}
@media (min-width: 992px) {
    /*width for main*/
    main, .general-nav {
        width: 970px;
    }
    /*Fontsize for pdf icon*/
    .pdf-icon {
        font-size: 75px;
    }
}
@media (min-width: 1200px) {
    /*width for main*/
    main, .general-nav {
        width: 1180px;
    }
    /*Fontsize for pdf icon*/
    .pdf-icon {
        font-size: 100px;
    }
}